<h1>My Places</h1>
 
<ul>
  <% @places.each do |place| %>
    <li>
      <%= place.name %>
      <%= link_to "Details", place_path(place) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create New Place", new_place_path, class: "button" %>
