<h1>Place Details</h1>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<h2>Entries</h2>
<ul>  

<p>
  <a href= "/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>
<p><%= link_to "Back to Places", places_path %></p>